.petrus-zoom-zoom {
    width: 100%;
    height: calc(100%);
}

.petrus-zoom-zoom-content {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    overflow: hidden;
    display: flex;
    &__wrap {
        width: 100%;
        height: calc(100%);
        transform: translate(0px, 0px) scale(1);
        transform-origin: 50% 0%;
    }
}
